<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wedding Planner</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h2>@ViewBag.wedding.wedderOne and @ViewBag.wedding.wedderTwo 's Wedding</h2>
            </div>
            <div class="col-md-2">
                <a href="/Dashboard">Dashboard</a>
            </div>
            <div class="col-md-2">
                <a href="/Logout">Log Out</a>
            </div>
        </div>
        <div class="container">
            <p>Date: @ViewBag.wedding.date</p>
            <h3>Guests:</h3>
            @{
                foreach(var rsvp in @ViewBag.wedding.rsvps)
                {
                    <p>@rsvp.user.firstName @rsvp.user.lastName</p>
                }
            }
        </div>
    </div>
</body>
</html>